{% extends "base.html" %}
{%block content%}
<div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">
    <form method="post" action="{% url 'Add_subject' %}">
            {% csrf_token %}
    <div class="row">
    <div class="col-12">
    <h5 class="form-title"><span> Edit Subject Information</span></h5>
    </div>
    {% include "Includes/messages.html" %}
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Subject Name</label>
    <input type="text"  name="subject_name" value="{{subject.name}}" class="form-control">
    <input type="text"  name="subject_id" value="{{subject.id}}" hidden class="form-control">
    </div>
    </div>
    <div class="col-12 col-sm-6 mt-2">
    <div class="form-group">
        <label>Course</label>
        <select class="form-control" name="course_id" >
           <option>Select Course</option>
            {% for i in course %}
           <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}
        </select>
    </div>
    </div>
    <div class="col-12 col-sm-6" mt-2>
        <div class="form-group">
            <label>Staff</label>
            <select class="form-control" name="staff_id" required>
               <option>Select Staff</option>
                {% for i in staff %}
               <option value="{{i.id}}">{{i.admin.first_name}}</option>
                {% endfor %}
            </select>
        </div>
        </div>
    <div class="col-12" mt-6>
    <button type="submit"  name="submit" class="btn btn-primary">Update Subject</button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    
    
{% endblock %}